.DS_Store
phpunit.phar
/vendor
/public
composer.phar
composer.lock
*.sublime-project
*.sublime-workspace
*.project
.idea/
phpunit.xml
etc/
.docker/
docker-compose.override.yml
docker-compose.yml
Dockerfile